<thead>
    <tr>
        <th class="state text-left">State</th>
        <th class="text-center box download">Download</th>
        <th class="text-right stops">Stops</th>
        <th class="text-right time-range">Time Range</th>
        <th class="box-header"></th>
        <th class="rotate text-center box point stop-date"><div><span>Stop Date</span></div></th>
        <th class="rotate text-center box point stop-time"><div><span>Stop Time</span></div></th>
        <th class="rotate text-center box point stop-location"><div><span>Stop Location</span></div></th>
        <th class="rotate text-center box point driver-race"><div><span>Driver Race</span></div></th>
        <th class="rotate text-center box point driver-sex"><div><span>Driver Sex</span></div></th>
        <th class="rotate text-center box point driver-age"><div><span>Driver Age</span></div></th>
        <th class="rotate text-center box point search-conducted"><div><span>Search Conducted</span></div></th>
        <th class="rotate text-center box point contraband-found"><div><span>Contraband Found</span></div></th>
        <th class="rotate text-center box point citation-issued"><div><span>Citation Issued</span></div></th>
        <th class="rotate text-center box point warning-issued"><div><span>Warning Issued</span></div></th>
        <th class="rotate text-center box point frisk-performed"><div><span>Frisk Performed</span></div></th>
        <th class="rotate text-center box point arrest-made"><div><span>Arrest Made</span></div></th>
        <th class="rotate text-center box point reason-for-stop"><div><span>Reason for Stop</span></div></th>
        <th class="rotate text-center box point violation"><div><span>Violation</span></div></th>
    </tr>
</thead>
