    <!-- People section -->
    <section id="people" class="container-fluid content-section">
        <div class="row-fluid section-text">
            <div class="col-lg-10 col-lg-offset-1">

                <h2 class="text-center">Who we are</h2>

                <div class="row person-row">
                    <!-- add states for smaller screens -->
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://twitter.com/plbarghouty" target="_blank"><img src="/img/barghouty.jpg"></a>
                            <a href="https://twitter.com/plbarghouty" target="_blank"><h3>Phoebe Leila Barghouty</h3></a>
                            <small>Data Journalist, Stanford Computational Policy Lab</small>
                        </div>
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://www.linkedin.com/in/bethney-bonilla-4935446b" target="_blank"><img src="/img/bonilla.png"/></a>
                            <a href="https://www.linkedin.com/in/bethney-bonilla-4935446b" target="_blank"><h3>Bethney Bonilla</h3></a>
                            <small>Data Journalist, Big Local News</small>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="http://samcorbettdavies.com" target="_blank"><img src="/img/corbett-davies.jpg"></a>
                            <a href="http://samcorbettdavies.com" target="_blank"><h3>Sam Corbett-Davies</h3></a>
                            <small>Ph.D. Candidate, Computer Science</small>
                        </div>
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://5harad.com/" target="_blank"><img src="/img/goel.png"></a>
                            <a href="https://5harad.com/" target="_blank"><h3>Sharad Goel</h3></a>
                            <small>Assistant Professor, Management Science & Engineering</small>
                        </div>
                    </div>
                </div>
                <div class="row person-row">
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6">
                            <a href="https://profiles.stanford.edu/daniel-jenson" target="_blank"><img src="/img/jenson.jpg">
                            <a href="https://profiles.stanford.edu/daniel-jenson" target="_blank"><h3>Daniel Jenson</h3></a>
                            <small>Engineer, Stanford Computational Policy Lab</small>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <a href="https://www.linkedin.com/in/walterkim/" target="_blank"><img src="/img/kim.jpg">
                            <a href="https://www.linkedin.com/in/walterkim/" target="_blank"><h3>Walter Kim</h3></a>
                            <small>Engineer, Stanford Computational Policy Lab</small>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6">
                            <a href="http://jnu.works/page/about" target="_blank"><img src="/img/nudell.jpg">
                            <a href="http://jnu.works/page/about" target="_blank"><h3>Joe Nudell</h3></a>
                            <small>Engineer, Stanford Computational Policy Lab</small>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <a href="http://www.janovergoor.com/" target="_blank"><img src="/img/overgoor.jpg">
                            <a href="http://www.janovergoor.com/" target="_blank"><h3>Jan Overgoor</h3></a>
                            <small>Ph.D. Candidate, Management Science & Engineering</small>
                        </div>
                    </div>
                </div>
                <div class="row person-row">
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://comm.stanford.edu/faculty-phillips/" target="_blank"><img src="/img/cephillips.jpg"></a>
                            <a href="https://comm.stanford.edu/faculty-phillips/" target="_blank"><h3>Cheryl Phillips</h3></a>
                            <small>Lorry I. Lokey Visiting Professor in Professional Journalism, Communication</small>
                        </div>
                        <div class="col-sm-3 col-xs-6" >
                            <a href="http://cs.stanford.edu/~emmap1" target="_blank"><img src="/img/pierson.jpg"></a>
                            <a href="http://cs.stanford.edu/~emmap1" target="_blank"><h3>Emma Pierson</h3></a>
                            <small>Ph.D. Candidate, Computer Science</small>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="http://www.vigneshr.com/" target="_blank"><img src="/img/ramachandran.jpg"></a>
                            <a href="http://www.vigneshr.com/" target="_blank"><h3>Vignesh Ramachandran</h3></a>
                            <small>Stanford Computational Journalism Lab</small>
                        </div>
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://www.linkedin.com/in/esagara/" target="_blank"><img src="/img/sagara.jpg"/></a>
                            <a href="https://www.linkedin.com/in/esagara/" target="_blank"><h3>Eric Sagara</h3></a>
                            <small>Senior Data Journalist, Big Local News</small>
                        </div>
                    </div>
                </div>
                <div class="row person-row">
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="https://profiles.stanford.edu/amy-shoemaker" target="_blank"><img src="/img/shoemaker.jpg"></a>
                            <a href="https://profiles.stanford.edu/amy-shoemaker"target="_blank"><h3>Amy Shoemaker</h3></a>
                            <small>Data Scientist, Stanford Computational Policy Lab</small>
                        </div>
                        <div class="col-sm-3 col-xs-6" >
                            <a href="http://www.rshroff.com" target="_blank"><img src="/img/shroff.jpg"></a>
                            <a href="http://www.rshroff.com"target="_blank"><h3>Ravi Shroff</h3></a>
                            <small>Assistant Professor, Applied Statistics, Social Science, and Humanities at New York University</small>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="col-sm-3 col-xs-6" >
                            <a href="http://web.stanford.edu/~csimoiu/" target="_blank"><img src="/img/simoiu.jpg"></a>
                            <a href="http://web.stanford.edu/~csimoiu/"target="_blank"><h3>Camelia Simoiu</h3></a>
                            <small>Ph.D. Candidate, Management Science & Engineering</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
